

.navbar {
    background: rgb(245, 99, 155,);
    position: fixed;
    margin-left: 1000px;
    margin-top: 50px;
    font-size: xx-large; 
    word-spacing:20px;    /*Расстояние между словами*/
    } 

.inLine {
    display: inline;
    
       }

a:active {
    color: rgb(15, 1, 1);
}

a:hover {
    background: rgba(243, 101, 224, 0.3);
   }



.text {
    position: fixed;
    left: 1050px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
   
}

.pol {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: rgba(249, 250, 248, 0.0);  
}

.pol1 {
    font-size:25px;
    padding-left:145px;
    float:left;
    word-spacing:20px;
}

.icon-style {
    height:40px;
    margin-left:20px;
    margin-top:-5px;
    position: fixed;
    
}


.icon-style:hover {
  background-color:rgb(247, 55, 183);
  padding:5px;
}

.texstpol {
  position: fixed;
  left: 800px;
  margin-top: -9px;
  color:  rgb(173, 132, 85);
}

.foto {
   position: fixed;
   top: 180px;
   word-spacing: 70px;
   margin-left: 150px;
      }

   .foto1 {
    position: fixed;
    top: 180px;
    word-spacing: 70px;
    margin-left: 1000px;
    }

    img {
        border-radius: 20%;
    }

    .develery {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        position: fixed;
        left: 200px;
        top: 100px;
        color: rgb(90, 88, 88);
    }

    #p {
        background: rgb(245, 99, 155,);
        position: fixed;
        margin-left: 1200px;
        margin-top: 720px;
        font-size: xx-large;  
        
    }

    #n {
        background: rgb(245, 99, 155,);
        position: fixed;
        margin-left: 350px;
        margin-top: 720px;
        font-size: xx-large; 
    }

    .foto {
        transition: 1s;
    }
           .foto:hover {
        transform: scale(1.1); /* Увеличиваем масштаб */
       }

       .foto1 {
        transition: 1s;
    }
           .foto1:hover {
        transform: scale(1.1); /* Увеличиваем масштаб */
       }

      .pon {
        background: rgb(245, 99, 155,);
        position: fixed;
                font-size: xx-large; 
    }
      
    .fotopalitra {
        word-spacing:20px;
        position: fixed;
        margin-left: 50px;
        margin-top:200px;
        line-height: 200px;
    }

    .fotopalitra1 {
        transition: 1s;
    }
           .fotopalitra1:hover {
        transform: scale(1.6); /* Увеличиваем масштаб */
       }

       .map {
        position: fixed;
        left: 850px;
        top: 300px;
       }

       .skrip {
        position: fixed;
    margin-left: -880px;
    margin-top: -720px;
    color: rgb(39, 117, 117);
        
       }

       .naborTyt {
        position: fixed;
        left: 700px;
        top: 750px;
       }